@use '../abstracts/' as *;
.card {
  background: $clr-neutral-grayish-blue;
  max-width: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  &__title {
    color: $clr-primary-green;
    font-size: 0.8rem;
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
  }
  &__number {
    padding: 0 0.5rem;
  }
  &__content {
    color: $clr-primary--cyan;
    text-align: center;
    padding: 1rem;
  }
  &__divider-line {
    padding: 1rem 0 1rem 0;
  }
  &__image-icon {
  }
  &__button-roll {
    border: none;
    padding: 1rem;
    border-radius: 50%;
    //transform: translateY(50%);
    background: $clr-primary-green;

    &:hover {
      box-shadow: 0px 0px 20px 9px rgba(0, 255, 128, 0.40);
      cursor: pointer;
      animation: loading 1s ease-in-out;
      //transform: translateY(50%);
    }
    &:active {
      animation: loading 500ms ease-in-out infinite;
    }
  }
  &__button-roll--loading {
    animation: loading 1s ease-in-out infinite;
    pointer-events: none;
    background: $clr-neutral-blue;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
}
